<%= form_with(model: palindrom, id: "#{dom_id(palindrom)}_form") do |form| %>
  <% if palindrom.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(palindrom.errors.count, "error") %> prohibited this palindrom from being saved:</h2>

      <ul>
        <% palindrom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex items-stretch flex-grow">
    <%= form.label :value, class: "sr-only" %>
    <%= form.text_field :value, class: "block w-full rounded-none rounded-l-md sm:text-sm border-gray-300", placeholder: "Add a new number..." %>
    <%= form.submit class: "-ml-px relative px-4 py-2 border border-blue-600 text-sm font-medium rounded-r-md text-white bg-blue-600 hover:bg-blue-700" %>
  </div>
<% end %>
